.notify-container {
    position:fixed;
    bottom: 0rem;
    left: 1rem;
    width:300px;
    // height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:flex-bottom;
    z-index: 99;
 
    .notification {
        position:relative;
        margin-bottom: 1rem;

        

//   opacity:0;
//   left:250px;

    //   position: fixed;
    //   bottom: 1rem;
      display: flex;
    //   z-index: 100;
    //   margin-left: 1rem;
      padding: 0 2rem 0 1rem;
    
      .notify-icon {
        display: block;
        justify-content: space-between;
        font-size: 4rem;
        margin-right: 1rem;
      }
      .notify-text {
        display: block;
        margin: auto 0;
        max-width: 200px;
        padding: 0.3rem 0;
      }
    }
}